<div class="container">
  
  <div class="row justify-content-center">
  <div class="col-10">
    <%= render 'shared/errors', obj: @article %>
  <%= form_with(model: @article, class: "shadow p-3 mb-3 bg-success rounded", local: true) do |f| %>

  <div class="form-group row">
    <%= f.label :title, class: "col-2 col-form-label text-light" %>
    <div class="col-10">
      <%= f.text_field :title, class: "form-control shadow rounded", placeholder: "Title" %>
  </div>
  </div>

  <div class="form-group row">
    <%= f.label :description, class: "col-2 col-form-label text-light" %> <br>
      <div class="col-10">
      <%= f.text_area :description, rows: 10, class: "form-control shadow rounded", placeholder: "Description" %>
  </div>
  </div>

  <div class="form-group row">
    <%= f.label :category, class: "col-2 col-form-label text-light" %>
      <div class="col-10">
    <%= f.collection_select(:category_ids, Category.all, :id, :name,
    { promt: "Make your selection from the list below (can be empty)"}, { multiple: true, class: "custom-select shadow rounded" }) %>
  </div>
  </div>


    <div class="form-group row justify-content-center">
  <%= f.submit class: "btn btn-outline-light btn-lg" %>
  </div>

  <% end %>
</div>
   <div class="mb-3">
  <%= link_to 'Cancel and return to articles listing', articles_path, class: "text-info" %>
</div>
 </div>
</div>


























