
<h2 class="text-center mt-4"><%= @article.title %></h2>

<div class="container">
<div class="row justify-content-md-center">
<div class="col-10 mt-4">
<div class="card text-center shadow mb-5 bg-white rounded">
  <div class="card-header font-italic">
    by <%= @article.user.username if @article.user %>
    <%= link_to gravatar_for(@article.user), user_path(@article.user) %>
    <% if @article.categories.any? %>
   <div class="mt-2"><%= render @article.categories %></div> 
        <% end  %>
  </div>

  <div class="card-body">
    <div class="card-text text-left"><%= simple_format(@article.description) %></div>
            <% if logged_in? && (@article.user == current_user || current_user.admin?) %>
            <%= link_to "Edit", edit_article_path(@article), class: "btn btn-outline-info" %>
            <%= link_to "Delete", article_path(@article), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
          <% end %>
          </div>
  <div class="card-footer text-muted">
 <small>Created <%= time_ago_in_words(@article.created_at) %> ago,
 Edited <%= time_ago_in_words(@article.updated_at) %>ago</smal>  
  </div>
</div>
<div class="container text-white bg-dark">
<h2 class=" text-center font-weight-5 text-success">Your opinion matters, Comment bellow</h2>
<% @article.comments.each do |comment| %>
  <p class="">
    <%= comment.body %>
  </p>
<% end %>

<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <p>
    <%= form.text_area :body, class: "w-100" %>
  </p>
  <p class="text-center">
    <%= form.submit class: "btn btn-outline-primary" %>
  </p>
<% end %>
</div>

</div>
</div>
</div>

















