@import 'bootstrap/dist/css/bootstrap';

  .navbar {

    background-color: black !important;
    
    }
#my-btn {
    margin-top: 600px;
}
    .navbar-brand {
    
    font-size: 3rem;
    
    }
    .nav-link {
        color: white !important;
    }
    #logo {
     float: left;
     font-size: 1.7em;
     color: green;
     text-transform: uppercase;
     letter-spacing: -1px;
     font-weight: bold;
    }
#home-container {
    margin-top: 25px;
}

.jumbotron {
    background-image: asset-url('background.jpg');
    background-size: cover;
    height: 100%;
}

html,
body {
    height: 100%;
}
#page-content {
    flex: 1 0 auto;
    background-color: whitesmoke;
}
#sticky-footer {
    flex-shrink: none;
}

 .namy {
    color: green;
}
.namy:hover {
    color: green;
    text-decoration: none;
 font-size: 20px;
}

.flickr_pagination {
    text-align: center;
    padding: 0.3em;
    cursor: default; }
    .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
      padding: 0.2em 0.5em; 
    border-radius: 5px; 
      }
    .flickr_pagination .disabled {
      color: #aaaaaa; }
    .flickr_pagination .current {
      font-style: normal;
      font-weight: bold;
      color: #003cff; }
    .flickr_pagination a {
      border: 1px solid rgb(245, 245, 245);
      color: rgb(20, 18, 18);
      text-decoration: none; }
      .flickr_pagination a:hover, .flickr_pagination a:focus {
        border-color: gray;
        background: green;
        color: white; }
    .flickr_pagination .page_info {
      color: #aaaaaa;
      padding-top: 0.8em; }
    .flickr_pagination .previous_page, .flickr_pagination .next_page {
      border-width: 2px; }
    .flickr_pagination .previous_page {
      margin-right: 1em; }
    .flickr_pagination .next_page {
      margin-left: 1em; }
  


      @media (max-width: 480px) {
        .jumbotron{
          background-image: asset-url('background.jpg')no-repeat center center;

          background-size: 100% 100%;
        }
    }



























